.logo {
    position: fixed;
    z-index: 5;
    &-1 {
    top: 3rem;
    left: 3rem;
    height: 3rem;    
    }
    &-2 {
    top: 2.5rem;
    left: 6rem;
    height: 4rem;
    }
    &-3 {
        top: 5rem;
        left: 2.5rem;
        height: 4.5rem;
    }
}